<!--<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>-->

<!--about-->
<div class="jumbotron3" id="about" >

    <h1>Camilo Cely</h1>
    <div class="row">

        <div class="col-sm">
            <img src="images/Kamoc.png" alt="" height="500px">
        </div>
        <div class="col-sm">
            Originally from Colombia, actually studing in Georgian College in Canada, program is associated to Interactive Media Web design, which include the UI design knowledge Digital Marketing and Codign, like Javascript , Java, Php, J Brain, ASP .Net.
        </div>

    </div>
</div>

<!--Progress bar-->
<div class="container"> <!--open container-->
    <h1>Skills</h1>
    <br>
    <h2>CSS</h2>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
    </div>
    <h2>Php Coding</h2>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
    </div>

    <h2>ASP Coding</h2>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
    </div>

    <h2>Javascript</h2>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
    </div>
    <h2>J Brain</h2>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
    </div>
</div> <!--close container-->

<!--Jumbotron separator -->
<br>
<br>
<div class="jumbotron2" id="about" >
    <br>
    <br>
    <br>
    <br>

    <h1>The World needs ideas to solve problems using Technology</h1>
    <p>In my experience how Software Testing Analist i found different perspectives around Apps</p>
    <!--<hr class="my-4">-->
    <p></p>
    <div>
        <div></div>
        <div></div>
    </div>
</div>
<br>
<br>

<!-- Galery Portfolio-->
<div class="row" id="projects">
    <h1>GALERY PORTFOLIO</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="column">
                <h1>Web Design</h1>
                <img src="images/Alce.png" alt="" />
                <img src="images/Kamocsite.png" alt="" />
                <img src="img/t9_large.jpg" alt="" />
            </div>
            <div class="column">
                <h1>Apps .Net Php</h1>
                <img src="images/Alceneptuno.png" alt="" />
                <img src="images/Aurum.png" alt="" />
                <img src="img/a9s_large.jpg" alt="" />
            </div>
            <div class="column">
                <h1>Art Logos & Digital 3D</h1>
                <img src="images/3dModeling.png" alt="" />
                <img src="images/Skytale.png" alt="" />
                <img src="img/a9_large.jpg" alt="" />
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!-- Galery Portfolio-->